.headerContainer {
  display: flex;
}
.header {
  margin: 75px;
  display: flex;
  background-color: #eceefe;
}
@media screen and (max-width: 600px) {
  .headerContainer {
    justify-content: center;
  }
}
