<div *ngIf="overlayData" class="overlay">
  <div class="overlayContent">
    @if (['png', 'jpg', 'jpeg', 'gif'].includes(getFileType(overlayData))) {
    <img [src]="overlayData" alt="Overlay Image" />
    } @if (['mp4'].includes(getFileType(overlayData))) {
    <video controls [src]="overlayData" alt="video"></video>
    }
    <app-small-btn
      [imgSrc]="'closeIcon.svg'"
      [imgSize]="'32px'"
      [btnSize]="'48px'"
      [btnBgHoverColor]="'#edeefe'"
      (click)="onCloseOverlay()"
    >
    </app-small-btn>
  </div>
</div>
