<div class="passwordSektion">
  <app-start-header [display]="'none'"></app-start-header>
  <div class="passwordContainer">
    <div class="passwordTop">
      <div [routerLink]="['/login']" class="loginBackImg">
        <app-small-btn
          [imgSrc]="'login/arrow-back.svg'"
          [imgSize]="'24px'"
          [btnSize]="'48px'"
          [btnBgHoverColor]="'#edeefe'"
        >
        </app-small-btn>
      </div>
      <span>{{ 'passwordForget.header' | translate }}</span>
    </div>
    <div class="passwordInfoText">
      <span>{{ 'passwordForget.infoText' | translate }}</span>
    </div>
    <form
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
      class="contactForm"
    >
      <div class="inputContainer">
        <img class="iconP" src="./assets/img/login/mail.png" alt="" />
        <input
          class="inputField"
          #emailField="ngModel"
          [(ngModel)]="email"
          id="email"
          name="email"
          type="email"
          placeholder="{{ 'passwordForget.inputfield' | translate }}"
          required
          [ngClass]="{ aktivInput: emailField.valid && emailField.touched }"
          pattern="[^@]+@[^.]+\..+"
        />
        @if (!emailField.valid && emailField.touched) {
        <p class="error">{{ 'login.errorText' | translate }}</p>
        }
      </div>
      <div class="bottomInfoText">
        <span>
          {{ 'passwordForget.infoTextBottom' | translate }}</span
        >
      </div>
      <div class="passwordBottom">
        <button
          [ngClass]="{ aktivButton: contactForm.valid }"
          [disabled]="!contactForm.valid"
        >
        {{ 'passwordForget.Btn' | translate }}
        </button>
      </div>
    </form>
  </div>
  <div class="sendBtn" [style.display]="emailSentBtn ? 'block' : 'none'">
    <img src="./assets/img/login/email-send-btn.svg" alt="" />
  </div>
  <app-footer></app-footer>
</div>
