@import "../../../shared/components/login/mixins/mixin.scss";

.passwordSektion {
  @include SektionBody;
}

.passwordContainer {
  max-width: 606px;
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 24px;
  max-height: 470px;
  height: 100%;
}

.passwordTop {
  @include topText;
  > span {
    width: 90%;
    padding-right: 48px;
  }
}

.passwordBackImg {
  cursor: pointer;
}

.passwordInfoText {
  @include InfoText;
}

.inputContainer {
  position: relative;
  margin-bottom: 48px;
}

.iconP {
  position: absolute;
  top: 18px;
  left: 20px;
}

.inputField {
  @include inputStyle;
}

.error {
  @include errorStyle;
}

.contactForm {
  width: 90%;
}

.passwordBottom {
  display: flex;
  justify-content: end;
  margin-top: 32px;
  gap: 30px;
}

button {
  @include buttonGrey;
}

.aktivButton {
  @include aktivButtonBlue;
}

.aktivInput {
  border: 1px solid#686868;
}

.bottomInfoText {
  display: flex;
  justify-content: center;
  > span {
    width: 380px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #686868;
  }
}

.sendBtn {
  display: none;
  position: absolute;
  right: 0;
  bottom: 11%;
  animation: slideInOut 4s ease-in-out forwards;
  > img {
    height: 118px;
  }
}

@keyframes slideInOut {
  0%,
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@media (max-width: 570px) {
  .passwordTop {
    margin-bottom: 0;

    > span {
      font-size: 26px;
    }
  }
  .passwordInfoText {
    > span {
      font-size: 18px;
    }
  }
  .inputField {
    padding-left: 40px;
    font-size: 17px;
  }
  .iconP {
    left: 12px;
  }
  .bottomInfoText {
    > span {
      font-size: 18px;
    }
  }
}
@media (max-width: 420px) {
  .passwordTop {
    > span {
      font-size: 24px;
    }
  }
  .contactForm {
    min-width: 262px;
  }
  .passwordContainer {
    gap: 16px;
    max-width: 306px;
  }
  .inputField {
    font-size: 15px;
  }
  .bottomInfoText {
    margin-bottom: 24px;
  }
  .inputContainer {
    margin-bottom: 24px;
  }
  .error{
    font-size: 11px;
  }
}
