<section
  [ngClass]="{
    privatChatHeight: isPrivatChannel,
    searchChatHeight: isSearchChannel
  }"
>
  @if (!hideContentWindow) {
  <div class="content" #messageBody>
    <app-info [currentChannel]="currentChannel"></app-info>
    @for (chat of getChatChannel(currentChannel); track chat; let i = $index) {
    @for (user of getChatUsers(chat.userId); track user) {
    @if(!isPublishedToday(chat.publishedTimestamp)) {
    <div class="line">
      <span class="lines"></span>
      <p>{{ convertTimestampDate(chat.publishedTimestamp) }}</p>
      <span class="lines"></span>
    </div>
    }
    <div class="singleChat">
      <app-single-chat
        [user]="user"
        [chat]="chat"
        [index]="i"
        [currentChat]="chat.id"
        [showAnswer]="true"
        [openOnSecondaryChat]="false"
        [isPrivatChannel]="isPrivatChannel"
        [viewWidth]="viewWidth"
      ></app-single-chat>
    </div>
    } }
  </div>
  }
  <app-chat-msg-box
    [currentChannel]="currentChannel"
    (newMsgEmitter)="editMsgEmitter($event)"
    [target]="'chats'"
  ></app-chat-msg-box>
</section>
