@import "../../../../styles.scss";

section {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.headline {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 12px;
  width: 60px;
}

.headlineText {
  display: flex;
  align-items: center;
  cursor: pointer;
  .arrowImg {
    width: 10px;
    height: 10px;
    object-fit: contain;
  }
  img {
    &:first-child {
      padding-right: 24px;
    }

    &:nth-child(2) {
      padding-right: 6px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 700;
  }

  &:hover {
    filter: invert(25%) sepia(100%) saturate(1833%) hue-rotate(230deg)
      brightness(101%) contrast(89%);
  }
}

.boxOfAllChannels {
  max-height: 16vh;
  overflow: auto;
  .channelName {
    display: flex;
    align-items: center;
    margin: 12px 24px;
    padding: 8px;
    max-width: fit-content;
    cursor: pointer;

    img {
      width: 16px;
      height: 16px;
      padding-right: 12px;
      margin-left: 4px;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      padding-right: 8px;
    }

    &:hover,
    &:focus {
      background-color: #edeefe;
      border-radius: 24px;
    }
  }
}

.active {
  cursor: default;
  background-color: #edeefe;
  border-radius: 24px;
}

.addChannel {
  display: flex;
  align-items: center;
  margin: 12px 24px;
  padding: 8px;
  cursor: pointer;
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: 6px;

    img {
      width: 20px;
      height: 20px;
      padding-right: 12px;
    }
  }

  p {
    font-size: 18px;
    font-weight: 400;
    padding-left: 2px;
  }

  &:hover {
    filter: invert(25%) sepia(100%) saturate(1833%) hue-rotate(230deg)
      brightness(101%) contrast(89%);

    .circle {
      img {
        width: 22px;
        height: 24px;
      }
    }
  }
}

.showAllChanneld {
  animation-name: slideIn;
  overflow: auto;
  transition: max-height 0.3s ease-in-out;
  max-height: 25vh;
}

@keyframes slideIn {
  from {
    max-height: 0;
  }

  to {
    max-height: 16vh;
  }
}

.hideAllChannels {
  animation-name: slideOut;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
}

@keyframes slideOut {
  from {
    max-height: 16vh;
  }

  to {
    max-height: 0;
  }
}

@media screen and (max-width: $RESPONSIVE_THRESHOLD_MOBILE380px) {
  .showAllChanneld {
    max-height: 16vh;
  }
}
