@import "./../../../styles.scss";

section {
  height: 100%;
  border-radius: 24px;
  background-color: #fff;
}

.header {
  height: 40px;
  padding: 24px 48px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  @include displayFlex($j: space-between);
}

.headline {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  max-width: fit-content;
  cursor: pointer;
  img {
    &:first-child {
      width: 24px;
      height: 25px;
      padding-right: 12px;
    }
    &:nth-child(2) {
      width: 14px;
      height: 8px;
    }
  }
  p {
    font-size: 24px;
    font-weight: 700;
    padding-right: 12px;
  }
  &:hover {
    background-color: #edeefe;
    border-radius: 24px;
  }
}

.addUserToChannelBox {
  @include displayFlex($g: 12px);
  .addedUsers {
    @include displayFlex($g: 8px);
    width: auto;
    height: 40px;
    padding: 3px;
    padding-left: 26px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: #edeefe;
    }
    .userAvatar {
      width: 40px;
      height: 40px;
      object-fit: cover;
      background-color: whitesmoke;
      border-radius: 50%;
      @include displayFlex();
      margin-left: -22px;
      img {
        width: 36px;
        height: 36px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    h3 {
      padding-right: 8px;
    }
  }
}

// -------- prv chat--------

.headerPrvChat {
  height: 60px;
  padding: 24px 48px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  @include displayFlex($j: space-between);
}

.headerBoxPrvChat {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headlinePrvChat {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  max-width: fit-content;
  cursor: pointer;
  .imgBoxPrvChat {
    @include displayFlex($a: flex-end);
    margin-right: 16px;
    .imgUserPrvChat {
      width: 56px;
      height: 56px;
      object-fit: cover;
      border-radius: 50%;
    }
    .onlineIcon {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-left: -12px;
    }
  }
  p {
    font-size: 24px;
    font-weight: 700;
    padding-right: 12px;
  }
  &:hover {
    background-color: #edeefe;
    border-radius: 35px;
  }
}

.headerSearchBar {
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  @include displayFlex($a: flex-start);
  flex-direction: column;
  padding: 24px 48px;
  position: relative;
  p {
    font-size: 24px;
    font-weight: 700;
  }
  input {
    width: calc(100% - 8px);
    height: 55px;
    border-radius: 26px;
    padding-left: 24px;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #888dec;
    font-family: "Nunito", sans-serif;
    outline: none;
    &:hover {
      border: 1px solid #5f66e7;
    }
  }
}

.filteredElementWindow {
  z-index: 1;
  max-height: 240px;
  overflow: auto;
  scrollbar-width: none;
  position: absolute;
  top: 127px;
  left: 80px;
  border-radius: 25px;
  border-top-left-radius: 0;
  border: 1px solid #888dec;
  background-color: #ffffff;
  padding: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  .user {
    @include displayFlex($j: flex-start);
    padding: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
      background-color: #edeefe;
      border-radius: 25px;
    }
    .positionImgs {
      @include displayFlex($a: flex-end);
      .avatarImg {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
      .onlineIconFilterWindow {
        height: 12px;
        width: 12px;
        margin-left: -10px;
        margin-right: 8px;
      }
    }
  }
}

.dotsImg {
  @include displayFlex($a: flex-end);
  margin-bottom: -26px;
  margin-left: -10px;
  img {
    width: 6px;
    height: 6px;
  }
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: $RESPONSIVE_THRESHOLD_MOBILE) {
  section {
    border-radius: 0;
  }

  .addUserToChannelBox {
    .addedUsers {
      display: none;
    }
  }

  .header {
    height: 36px;
    padding: 12px;
  }

  .headerPrvChat {
    height: 54px;
    padding: 12px;
  }

  .headline {
    p {
      font-size: 20px;
      max-width: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    img {
      &:first-child {
        width: 18px;
        height: 19px;
        padding-right: 6px;
      }
    }
  }

  .headerSearchBar {
    height: 84px;
    padding: 12px;
    p {
      font-size: 20px;
    }
    input {
      width: calc(100% - 28px);
      height: 50px;
    }
  }

  .headlinePrvChat {
    .imgBoxPrvChat {
      margin-right: 16px;
      .imgUserPrvChat {
        width: 50px;
        height: 50px;
      }
      .onlineIcon {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-left: -12px;
      }
    }
    p {
      font-size: 20px;
    }
    &:hover {
      background-color: #edeefe;
      border-radius: 35px;
    }
  }
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: $RESPONSIVE_THRESHOLD_MOBILE) {
  .filteredElementWindow {
    top: 95px;
    left: 45px;
  }
}
